<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="darkvador.nurseproject" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <permission
        android:name="com.javapapers.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="darkvador.nurseproject.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA74BdEZYADC0e44LdheS6bc1kT1magnQY" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".vuepatient"
            android:label="@string/title_activity_vuepatient" >
        </activity>

        <fragment
            android:name=".AfficheListePatient"
            android:label="@string/title_activity_affiche_liste_patient" >
        </fragment>

        <activity
            android:name=".ModificationPatient"
            android:label="@string/title_activity_modification_patient" >
        </activity>

        <fragment
            android:name=".ActImport"
            android:label="@string/title_activity_act_import" >
        </fragment>
        <fragment
            android:name=".ActExport"
            android:label="@string/title_activity_act_export" >
        </fragment>

        <activity
            android:name=".vueacte"
            android:label="@string/title_activity_vueacte" >
        </activity>
        <activity
            android:name=".test"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".afficheVisite"
            android:label="@string/title_activity_affiche_visite" >
        </activity>
        <activity
            android:name=".GoogleView"
            android:label="@string/title_activity_google_view" >
        </activity>
        <activity
            android:name=".login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>dependencies {
                compile fileTree(dir: 'libs', include: ['*.jar'])
                compile files('libs/db4o-8.0.276.16149-all-java5.jar')
                compile files('libs/gson-2.2.4.jar')
                compile files('libs/android-support-v4.jar')
                compile 'com.android.support:support-v13:20.0.+'
                compile 'com.google.android.gms:play-services:7.0.0'
                compile 'com.android.support:appcompat-v7:22.0.0'
                compile 'com.github.alamkanak:android-week-view:1.2.1'
                compile 'com.google.android.gms:play-services:7.0.0'
                compile files('libs/gcm.server.jar')
                }

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.google.android.gcm.demo.app" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />
    </application>

</manifest>
