<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="darkvador.nurseproject" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA74BdEZYADC0e44LdheS6bc1kT1magnQY" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".vuepatient"
            android:label="@string/title_activity_vuepatient" >
        </activity>

        <fragment
            android:name=".AfficheListePatient"
            android:label="@string/title_activity_affiche_liste_patient" >
        </fragment>

        <activity
            android:name=".ModificationPatient"
            android:label="@string/title_activity_modification_patient" >
        </activity>

        <fragment
            android:name=".ActImport"
            android:label="@string/title_activity_act_import" >
        </fragment>
        <fragment
            android:name=".ActExport"
            android:label="@string/title_activity_act_export" >
        </fragment>

        <activity
            android:name=".vueacte"
            android:label="@string/title_activity_vueacte" >
        </activity>
        <activity
            android:name=".test"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".afficheVisite"
            android:label="@string/title_activity_affiche_visite" >
        </activity>
        <activity
            android:name=".GoogleView"
            android:label="@string/title_activity_google_view" >
        </activity>
        <activity
            android:name=".login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
